@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  overflow-y: none;
  background-color: black;
}

.main {
  overflow-y: auto;
  
  width: 100%;
  height: 100%;
  position: absolute;

  background-color: black;
  color: white;

  font-family: "Ubuntu Mono", monospace;

  z-index: 5;
}

#html-renderer {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
  position: absolute;
  
  background-color: black;

  z-index: 0;
}